@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&family=Dancing+Script:wght@400..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#41048b;
    --secundary-colo:#ffffff;
    --terciary-color:#950ecf;
    --dark-color:#000000;
    --background-color:#f6eed5c6;
    --border-color:#240758;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: #3d1888;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------------------------------------------------------------------------*/

.carga {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  
  .cir {
    width: 180px;
    height: 180px;
    background: conic-gradient(from 0deg at 50% 50%, #3d1888 0%, #d09bf8 50%, #121012 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.7490196078), -4px -4px 16px rgba(0, 0, 0, 0.7490196078);
    animation: spin 1s infinite linear;
    position: relative;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .cont {
    content: " ";
    width: 174px;
    height: 174px;
    background: #1d1e22;
    position: absolute;
    top: 3px;
    left: 3px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.7490196078) inset, -4px -4px 16px rgba(0, 0, 0, 0.7490196078) inset;
    animation: spin 1s infinite linear reverse;
    color: white;
    font-family: cursive;
  }
  
  .porcent {
    font-family: cursive;
    font-size: 4em;
    color: white;
  }

/*---------------------------------------------------------------------------------------------------*/

.containerr{
    max-width: 120rem;
    margin: 0 auto;
}
.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}
.containerr-parcial{
    background-image: url('img/🧚🏻_♀️.jpeg');
    border: var(--dark-color) 0.5rem solid;
}
.parciall{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.customerr-partial{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.Contennt-partial-support{
    display: flex;
    flex-direction: column;
}
.Contennt-partial-support img{
    width: 20rem;
    height: 15rem;
    border-radius: 50%;
    opacity: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}
.Contennt-partial-support img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    opacity: 100%;
}
.Contennt-partial-support .name{
    font-size: small;
    font-family: cursive;
    color: #fff;
}
.container-logoo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.container-logoo h1 a{
    text-decoration: none;
    color: var(--border-color);
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff; 
     font-family: 'Caveat', cursive;
    font-size: 5rem;
    text-decoration: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease, font-size 0.3s ease, text-shadow 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
}
.container-logoo h1 a:hover{
    color: #ffffff;
    font-size: 5.5rem;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
   
    border-radius: 1rem;
    padding: 1rem;
}
.container-user-partial{
    display: flex;
    flex-direction: column;
}
.container-user-partial .name{
    font-size: small;
    font-family: cursive;
    color: #fff;
}
.container-user-partial img{
    width: 20rem;
    height: 15rem;
    border-radius: 50%;
    opacity: 25% ;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}
.container-user-partial img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    opacity: 100%;
}

/*---------------------------------------------------------------------------------------------------*/

.table-omg{
    border: var(--border-color) 1rem solid;
    background-color: #45157faf;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    color: #fff;
}
.table-omg td{
    border: var(--primary-color) 0.5rem solid;
    text-align: left;
    background-color: #950ecf98;
    border-radius: 10px;
}
.table-omg th{
    border: var(--primary-color) 0.5rem solid;
    background-color: #950ecf98;
    border-radius: 10px;
}
/*---------------------------------------------------------------------------------------------------------------------*/
.tile, .we, .ta, .aw{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.head-1{
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    font-weight: 1000;
    color: #3d1888;
    text-shadow: 
    -1px -1px 0 #000000,  
     1px -1px 0 #000000,
    -1px  1px 0 #000000,
     1px  1px 0 #000000; 
     text-align: center;
     letter-spacing: 10px;
     background: #d09bf83f;
     border-radius: 20px;
     display: inline-block;
     padding: 10px 20px;
}
.img-formu{
    border: #240758 solid 5px;
    border-radius: 20px;
    display: inline-block;
}
.img-formu img{
    border-radius: 16px;
}
.text{
    background: #d09bf83f;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
}
.contenet{
    font-family: 'Exo', sans-serif;
    font-size: medium;
    color: white;
}
/*---------------------------------------------------------------------*/

.table-ejemplos {
    margin: 20px;
    padding: 10px;
    background-color: #240758;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
}
.ejem {
    width: 100%;
    border-collapse: collapse;
    background-color: #d09bf8;
    border: 5px solid #4b0082;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
}
.ejem td, .ejem th {
    padding: 10px;
    text-align: center;
    border: 3px solid #4c008b;
    font-family: cursive;
    color: #ffffff;
}
.ejem h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #240758;
}

.ejem h5 {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
}
.ejem th {
    background-color: #d8bdf8aa;
    color: #4b0082;
    font-weight: bold;
}
/*-----------------------------------------------------------------*/
.re {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #240758;
    border-radius: 10px;
}

.form {
    background-color: #d09bf83f;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}
.indicacion {
    font-family: cursive;
    font-size: 1.2rem;
    color: #dec5f0;
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-family:cursive;
    color: #fdfdfd;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #731abc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #892be2a2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family:cursive;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6a0dad;
}
/*-------------------------------------------------------------------*/
.ru{
    height: 100%;
    margin: 0;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #240758;
    color: #fff;
    font-family: cursive;
    text-align: center;
}
.php{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    background-color: #7a11cb;
  }
